/Bank-365/.vs/Bank-365/v15/Server/sqlite3/db.lock
/Bank-365/.vs/Bank-365/v15/Server/sqlite3/storage.ide
/Bank-365/.vs/Bank-365/v15/Server/sqlite3/storage.ide-shm
/Bank-365/.vs/Bank-365/v15/Server/sqlite3/storage.ide-wal
