/Bank-365/.vs/Bank-365/v15/Server/sqlite3/db.lock
/Bank-365/.vs/Bank-365/v15/Server/sqlite3/storage.ide
/Bank-365/.vs/Bank-365/v15/Server/sqlite3/storage.ide-shm
/Bank-365/.vs/Bank-365/v15/Server/sqlite3/storage.ide-wal
/Bank-365/.vs/Bank-365/v15/.suo
/Bank-365/packages/Newtonsoft.Json.11.0.2/.signature.p7s
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/Bank-365/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/Bank-365/packages/Newtonsoft.Json.11.0.2/LICENSE.md
/Bank-365/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
/Bank-365/Bank-365/bin/Debug/Bank-365.exe
/Bank-365/Bank-365/bin/Debug/Bank-365.pdb
/Bank-365/Bank-365/obj/Debug/Bank-365.csproj.FileListAbsolute.txt
/Bank-365/Bank-365/obj/Debug/Bank-365.exe
/Bank-365/Bank-365/obj/Debug/Bank-365.pdb
/Bank-365/Bank-365/bin/Release/Bank-365.exe
/Bank-365/Bank-365/bin/Release/Bank-365.pdb
/Bank-365/Bank-365/bin/Release/DataBase.txt
/Bank-365/Bank-365/obj/Release/Bank-365.csproj.FileListAbsolute.txt
/Bank-365/Bank-365/obj/Release/Bank-365.csproj.GenerateResource.cache
/Bank-365/Bank-365/obj/Release/Bank-365.csprojAssemblyReference.cache
/Bank-365/Bank-365/obj/Release/Bank-365.exe
/Bank-365/Bank-365/obj/Release/Bank-365.pdb
/Bank-365/Bank-365/Bank-365.csproj
/Bank-365/Bank-365/bin/Release/Bank-365.exe
/Bank-365/Bank-365/bin/Release/Bank-365.pdb
/Bank-365/Bank-365/bin/Release/DataBase.txt
/Bank-365/Bank-365/obj/Release/Bank-365.csproj.CoreCompileInputs.cache
/Bank-365/Bank-365/obj/Release/Bank-365.csproj.GenerateResource.cache
/Bank-365/Bank-365/obj/Release/Bank-365.exe
/Bank-365/Bank-365/obj/Release/Bank-365.pdb
